body {
    background-color: #5E5ADB;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: #E9BA83;
    letter-spacing: 2px;
    text-decoration: underline;

}

header{
    width: 100%;
    background-color: gold;
    height: 200px;
    padding: 20px;
    


}