body {
    background-color: #5E5ADB;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: #E9BA83;
    letter-spacing: 2px;
    text-decoration: underline;

}

header{
    width: 100%;
    background-color: gold;
    height: 100px;
    padding: 20px;
    color: black;
    text-align: center;
    font-family: 900;
    font-weight: bold;


}
nav{
    width: 100%;
    background: #E9BA83;
    height: 20px;
    padding: 10px;

}

aside{
    width: 300px;
    background:burlywood;
    height: 500px;
    float: 10px;

}